<!-- Mobile Version -->
<!--Template for Community code challenges since I was lazy to make a new design for each code-->
<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="container">
            <div class="top">
                <!--Challenge name-->
                <span></span>
                <a href='' class="fas fa-arrow-right"></a>
            </div>
            <div class="center">
                <!--Code part-->
            </div> 
        </div>
        <div class="credit">
                <a href='https://www.sololearn.com/Profile/5742610/?ref=app'>Shardul</a>
        </div>
    </body>
</html>